{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mb-3">Welcome to {{user_id}}</h1>
<h1 class="text-center mb-3">Feedback Questions</h1>
<a href="{% url 'polls:logout'%}" class="btn btn-secondary btn-sm float-right mb-2">Logout</a>



{% if latest_question_list %}
  {% for question in latest_question_list %}
    <div class="card-mb-3">
      <div class="card-body">
        <p class="lead">{{ question.question_text }}</p>
        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
      </div>
    </div>
  {% endfor %}

  <!-- Display Results button after the loop -->
  <a href="{% url 'polls:result' %}" class="btn btn-secondary btn-sm float-right mb-2">Results</a>

{% else %}
  <p>No Questions available</p>
{% endif %}
{% comment %} <p>User Gmail: {{ user_gmail }}</p> {% endcomment %}
{% endblock %}





{% comment %} 

{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mb-3">Feedback Questions</h1>
<a href="{% url 'polls:logout'%}" class="btn btn-secondary btn-sm float-right mb-2">Logout</a>
{% if latest_question_list %}
{% for question in latest_question_list %}
<div class="card-mb-3">
    <div class="card-body">
        <p class="lead">{{ question.question_text }}</p>
        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
        <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm">Results</a>
        
    </div>
</div>


{% comment %} <div class="card-mb-3">
    <div class="card-body">
        <p class="lead">{{ question.question_text }}</p>
        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-lg">Vote Now</a>
        <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-lg">Results</a>
    </div>
</div> {% endcomment %}

{% comment %} {% endfor %}

{% else %}
<p>No Questions available</p>
{% endif %}



{% endblock %} {% endcomment %} 
{% comment %} {% endcomment %}